{{define "footer"}}
<footer class="footer">
    <div class="title-Header">
        <img src="/Ressources/image&logo/asset page d'accueil/CYBER BOOM 2 noir.png" alt="logo bottom" id="logoBottom" />
        <br>
        <br>
        <h2>Copyright @ Cyber Boom 2023 - Tous droits réservés</h2>
    </div>
    <br>
    <br>
    <div class="header-bottom">
		<a id="Home2" href="/">Accueil</a>
		<a id="Jouer2" href="/jeu">Jeu</a>
		<a id="Lore2" href="#">Lore</a>
		<a id="Règles2" href="#">Règles</a>
		<a id="Personnage2" href="#">Personnage</a>
		<a id="Apropos2" href="/informations">A propos </a>
	</div>
</footer>
{{end}}