<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Page D'accueil</title>
</head>

<body>
    {{template "header"}}
    <div class="Page-mid">
        <div class="cadre">
            <div class="Txt2">
                <div class="plc_txt1">

                    <h1 id="tilte_p2">Sauver Cyber City !</h1><br><br><br><br>
                    <h3 id="txt_p2">Vous intégrez la brigade anti criminelle en tant que cyber-agent de la cyber-police
                        de
                        CyberCity.
                        Dès votre premier jour de travail, vous tombez nez à nez avec une bombe à neutrons prête à
                        exploser.
                        Pour sauver Cyber City, vous allez devoir arpenter les différents quartiers pour trouver de
                        puissants indices pour désamorcer la bombe. Attention, prends garde, certains quartiers ont
                        mauvaise
                        réputation. De plus, les quartiers sont mouvants, il te faudra donc prévoir des déplacements
                        optimisés afin de ne pas laisser la bombe exploser.</h3>
                    <div class="carte-cadre1">
                        <img src="../Ressources/image&logo/asset_page_jeu/cadre4.png" alt="carte1" id="carte1">
                        <img src="../Ressources/image&logo/asset_page_jeu/cadre2.png" alt="carte2" id="carte2">
                        <img src="../Ressources/image&logo/asset_page_jeu/cadre 1.png" alt="cart4" id="carte3">
                        <img src="../Ressources/image&logo/asset_page_jeu/cadre3.png" alt="cart3" id="carte4">
                    </div>
                </div>
            </div>
            <div class="fond_1"></div>
        </div>
    </div>
    <div class="display-page2">
        <div class="Page-mid2">
            <div class="int-fondville">

                <div id="plc-rsmEx" class="display-txt-app">
                    <div id="txt-rsmEx">
                        Ce jeu est conçu pour être joué en équipe de 2 à 4 joueurs, qui doivent collaborer
                        pour DÉSAMORCER une bombe en 50 tours. L'objectif est de travailler ensemble pour trouver les
                        indices
                        nécessaires, résoudre les énigmes et déjouer les obstacles pour empêcher l'EXPLOSION de la
                        bombe.<br><br>
                        Le plateau de jeu est composé de 47 cartes, qui se divisent en plusieurs types. Il y a tout
                        d'abord une
                        carte de départ, qui marque le point de départ des joueurs. Ensuite, il y a 17 cartes
                        représentant les
                        différents quartiers de la ville, 4 cartes pour les banlieues, 4 cartes pour les transports, 6
                        cartes de
                        catastrophes, 5 cartes pour les quartiers huppés, et enfin 10 cartes d'indices. Les joueurs
                        doivent se
                        déplacer sur ces différentes cartes pour trouver les indices nécessaires au désamorçage de la
                        bombe.<br><br><br><br>
                        Chaque quartier de la ville a ses propres particularités et défis à relever pour les joueurs.
                        Pour
                        découvrir ces spécificités, il est conseillé de jouer et d'explorer le plateau de jeu. Dans
                        l'ensemble,
                        ce jeu est un divertissement coopératif qui est rempli de rebondissements et d'embûches, offrant
                        une
                        expérience amusante pour les joueurs.<br>
                        Au début du jeu, les joueurs se retrouvent au "Commissariat", qui est le point de départ. Chaque
                        joueur
                        dispose de 2 actions pour effectuer soit un déplacement et une découverte, soit 2 déplacements.
                        Après
                        que chaque joueur ait effectué ses actions, un tour de jeu s'achève.</div>
                </div>


                <div class="plc-cadre2">
                    <img src="../Ressources/image&logo/asset_page_jeu/round 1.png" alt="round" id="round">
                    <h1 id="test2">ROUND 1</h1>
                    <img src="../Ressources/image&logo/asset_page_jeu/carte comissariat.png" alt="carte commissaire"
                        id="carte-comissaire">
                </div>
            </div>
        </div>
    </div>
    <div class="Page-mid3">
        <div id="img-cadre">
            <h1 id="tilte-bottom-cadre">Déroulement du Jeu</h1>
            <div class="display-flex-cplum">
                <div class="plc-txt-bottom">
                    <div id="txt-left-cadre" class="txt-plc-left">
                        <h3>
                            Le joueur commence au point de départ, le "Commissariat".
                            Le joueur peut effectuer deux actions par tour : soit un déplacement et une découverte, soit
                            deux déplacements.
                            Les joueurs doivent se déplacer sur les différentes cartes du plateau pour trouver les
                            indices nécessaires au désamorçage de la bombe.
                        </h3><br>
                        <h3>Certains quartiers ont des particularités et des défis à relever pour les joueurs.</h3>
                        <h3>Si un joueur se rend dans une banlieue, il peut être envoyé en prison et ne pourra être
                            libéré que si un coéquipier le rejoint sur sa case.</h3><br>
                        <h3>Les joueurs ne peuvent pas se déplacer sur une carte qui a déjà été découverte, à moins
                            qu'une carte événement ne l'indique. Cela empêche les joueurs de passer d'un quartier à
                            l'autre en un seul tour, sans avoir à résoudre les énigmes de chaque carte.</h3>
                        <br>
                        <h3>Lorsqu'un joueur découvre une carte, il doit la retourner pour que les autres joueurs
                            puissent voir les informations qui y sont affichées. Cela permet aux autres joueurs de voir
                            les indices découverts et de mieux coordonner leurs actions.</h3>
                    </div>
                    <div id="txt-right-cadre" class="txt-plc-right">
                        <h3>Les joueurs doivent collaborer pour trouver les indices et résoudre les énigmes. Les joueurs
                            peuvent échanger des informations et coordonner leurs mouvements.</h3><br>
                        <h3>Si les joueurs ne parviennent pas à désamorcer la bombe avant que le temps ne s'écoule,
                            celle-ci explose et le jeu est perdu.</h3>
                        <h3>Si les joueurs réussissent à désamorcer la bombe avant la fin des 50 tours, ils gagnent.
                        </h3>
                        <h3>Chaque joueur doit respecter les deux actions par tour, soit un déplacement et une
                            découverte, soit deux déplacements. Si un joueur oublie une action, il ne peut pas la
                            récupérer par la suite.</h3>
                        <br>
                        <h3>Si un joueur se retrouve dans une situation où il ne peut plus se déplacer, soit parce qu'il
                            est emprisonné dans une banlieue, soit parce qu'il est bloqué par un obstacle, il ne peut
                            pas faire d'actions supplémentaires pendant ce tour. Les autres joueurs peuvent tenter de le
                            libérer ou de trouver une solution pour le débloquer.</h3>
                        <br>
                        <h3>Si un joueur doit quitter le jeu en cours de partie, le reste des joueurs peut continuer
                            sans lui, mais cela peut compliquer la coordination des actions et augmenter la difficulté
                            du jeu.</h3>
                        <br>
                        <h3>Les joueurs ne peuvent pas échanger de cartes entre eux, mais ils peuvent échanger des
                            informations et des idées pour résoudre les énigmes.</h3>

                    </div>
                </div>
                <h1 id="title-bottom">Comment Gagner la partie !</h1>
                <div id="txt-bottom-cadre" class="txt-plc-right">
                    <h3>Pour gagner la partie, les joueurs doivent désamorcer la bombe avant qu'elle n'explose, soit avant la fin des 50 tours. Pour désamorcer la bombe, les joueurs doivent trouver les cinq indices dispersés sur le plateau de jeu, qui leur fourniront les informations nécessaires pour désamorcer la bombe. Une fois que les cinq indices ont été trouvés, les joueurs doivent se rendre sur la carte qui contient la bombe et résoudre une dernière énigme afin de la désamorcer.</h3>
                    <h3>Les joueurs doivent travailler ensemble pour trouver les indices, résoudre les énigmes et éviter les obstacles et les pièges qui se trouvent sur le plateau. Si la bombe explose avant que les joueurs ne réussissent à la désamorcer, la partie est perdue. Si les joueurs réussissent à désamorcer la bombe avant la fin des 50 tours, ils remportent la partie.</h3>
                </div>
            </div>
        </div>
    </div>

    {{template "footer"}}
</body>

</html>