<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="static/style.css">

    <title>CyberBoom</title>
</head>

<body>
    {{template "header"}}
    <div class="mid">
        <img src="/Ressources/image&logo/asset page d'accueil/wallpaperflare.com_wallpaper.jpg" alt="slide1"
            id="slide1" />
        <div class="logoMid">
            <img src="/Ressources/image&logo/asset page d'accueil/CYBER BOOM 2 noir.png" alt="title" />
        </div>
        <div class="texte-sur-image">
            <h2>Serez-vous capable de garder votre sang-froid ?
                Bienvenue sur Cyber Boom, le nouveau plateau de jeu connecté !</h2>
        </div>
    </div>
    <div class="mid2">
        <div class="cadre-display">
            <img src="/Ressources/image&logo/asset page d'accueil/cadre_2.png" alt="cadre" id="cadre2" />
            <div class="texte-dans-image">
                <h1>Un mélange équilibré de stratégie et de réflexion</h1>
                <div class="titre2">
                    <h2>Trouvez les indices avant que la bombe n’explose !</h2>
                    <h3>Les jeux physiques peuvent très vite devenir lassant à force d’y jouer. Tandis que les jeux
                        numériques font perdre la notion de palpabilité aux joueurs et les délient du monde autour
                        d’eux. L’idée presque parfaite serait alors de mixer ces deux types afin d’obtenir une
                        combinaison incroyable.
                        Rajoutez à cela de la portabilité, nécessaire aujourd’hui pour jouer en toutes circonstances, et
                        la recette ne peut que mieux prendre.
                        C’est donc par ces idées et contraintes que nous avons commencé le projet Cyberboom.</h3>
                </div>
                <div class="plc-Img">
                    <div class="Img-pd-left">
                        <!-- <img src="/Ressources/image&logo/asset page d'accueil/pic1.png" alt="Img-pd-left" /> -->
                        <h4>Notre plateau de jeu connecté est conçu pour être facile à utiliser, et il peut être utilisé
                            par des joueurs de tous âges et de tous niveaux de compétence.</h4>
                    </div>
                    <div class="Img-pd-right">
                        <h4>Notre plateau de jeu connecté est conçu pour être facile à utiliser, et il peut être utilisé
                            par des joueurs de tous âges et de tous niveaux de compétence.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mid3">
        <div class="title3">
            <h1>Plongez dans notre monde ultra Futuriste</h1>
            <br>
        </div>
        <div class="User-Img">
            <div id="Usr-Img-Logo">
                <div class="txt-Usr-Img">
                    <h3>
                        Découvrez l’univers et les quartiers futuristes de CyberCity. Coopérez afin de traverser ces
                    derniers et leurs dangers, mais attention ! Le temps presse, une bombe s’apprête à exploser !
                    Relevez les défis captivants de ce monde avec CyberBoom, un jeu de coopération amusant et stimulant
                    !
                    </h3>

                </div>
            </div>
            <!-- <img src="/Ressources/image&logo/asset page d'accueil/Fichier_1.png" alt="Usr-Img" id="Usr-Img-Logo"/> -->
        </div>
    </div>
    <div class="mid4">
        <button class="start">JOUER MAINTENANT !</button>
    </div>
    {{template "footer"}}
</body>

</html>