<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="/Ressources/Images/snowman2.ico">
    <title>Informations</title>
</head>

<body class="degrade-radial">
    
        {{template "header"}}
        <div class="mid-Page3">
        <img src="/Ressources/image&logo/ONGLET TEAM ASSETS/dessin.png" alt="slide1"
            id="slide8" />
        <div class="logoMid">
            <!-- <img src="/Ressources/image&logo/asset page d'accueil/CYBER BOOM 2 noir.png" alt="title" /> -->
        </div>
        <div class="texte-sur-image3">
            <h1 id="test4">Rencontrez l’équipe de Cyber Boom?</h1>
                <h2 id="test5">Notre équipe de développement est composée de profils compétents et diversifiés réunis dans le même but, pour élaborer un jeu de société connecté accessible, divertissant et innovant.</h2>
        </div>
    </div>
    <div class="Page3-mid2">
        <h1 id="slide10">Equipe de Production</h1>
        <img src="../Ressources/image&logo/ONGLET TEAM ASSETS/photos.png" alt="photos">
    </div>
        {{template "footer"}}
</body>

</html>